@{
    ViewBag.Title = "Index";
    Layout = null;
}

<html>
<head>
    <title>测试页面</title>
    <script src="~/Scripts/js/jquery.js"></script>
    <script src="~/Scripts/layer/layer.js"></script>
    <script type="text/javascript">
        $(function () {
            layer.config({
                path:'/layer/'
            });
            layer.alert("早上好！");
        });
    </script>
</head>
<body>

</body>
</html>


