USE [DDit]
GO
/****** Object:  Schema [Test]    Script Date: 06/26/2017 11:19:33 ******/
CREATE SCHEMA [Test] AUTHORIZATION [dbo]
GO
/****** Object:  Schema [Table]    Script Date: 06/26/2017 11:19:33 ******/
CREATE SCHEMA [Table] AUTHORIZATION [dbo]
GO
/****** Object:  Schema [Base]    Script Date: 06/26/2017 11:19:33 ******/
CREATE SCHEMA [Base] AUTHORIZATION [dbo]
GO
/****** Object:  Table [Base].[UserInfomation]    Script Date: 06/26/2017 11:19:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [Base].[UserInfomation](
	[User_ID] [int] IDENTITY(1,1) NOT NULL,
	[User_Name] [nvarchar](100) NOT NULL,
	[User_Password] [nvarchar](100) NOT NULL,
	[User_Reallyname] [nvarchar](50) NOT NULL,
	[MobilePhone] [varchar](20) NULL,
	[Email] [varchar](50) NULL,
	[HeadPortrait] [nvarchar](500) NULL,
	[Department_ID] [int] NOT NULL,
	[IsEnable] [bit] NOT NULL,
	[Create_Time] [datetime] NOT NULL,
	[Update_Time] [datetime] NULL,
	[Remark] [nvarchar](500) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [Base].[UserInfomation] ON
INSERT [Base].[UserInfomation] ([User_ID], [User_Name], [User_Password], [User_Reallyname], [MobilePhone], [Email], [HeadPortrait], [Department_ID], [IsEnable], [Create_Time], [Update_Time], [Remark]) VALUES (1, N'admin', N'123456', N'超级管理员', N'13889606227', NULL, N'20160423heel.jpg', 1, 1, CAST(0x0000A6DA00000000 AS DateTime), CAST(0x0000A6DA00000000 AS DateTime), N'好皇帝')
INSERT [Base].[UserInfomation] ([User_ID], [User_Name], [User_Password], [User_Reallyname], [MobilePhone], [Email], [HeadPortrait], [Department_ID], [IsEnable], [Create_Time], [Update_Time], [Remark]) VALUES (2, N'admin1', N'123456', N'管理员1', NULL, NULL, NULL, 1, 1, CAST(0x0000A5C900A2F02A AS DateTime), CAST(0x0000A5C900A2F02A AS DateTime), N'内阁总管')
INSERT [Base].[UserInfomation] ([User_ID], [User_Name], [User_Password], [User_Reallyname], [MobilePhone], [Email], [HeadPortrait], [Department_ID], [IsEnable], [Create_Time], [Update_Time], [Remark]) VALUES (27, N'whywhy898', N'123456', N'小红红', NULL, NULL, NULL, 1, 1, CAST(0x0000A5CB011AE01C AS DateTime), NULL, N'也许吧')
SET IDENTITY_INSERT [Base].[UserInfomation] OFF
/****** Object:  Table [Base].[User_Role]    Script Date: 06/26/2017 11:19:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Base].[User_Role](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[User_ID] [int] NOT NULL,
	[Role_ID] [int] NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [Base].[User_Role] ON
INSERT [Base].[User_Role] ([ID], [User_ID], [Role_ID]) VALUES (33, 31, 2)
INSERT [Base].[User_Role] ([ID], [User_ID], [Role_ID]) VALUES (28, 1, 2)
INSERT [Base].[User_Role] ([ID], [User_ID], [Role_ID]) VALUES (29, 1, 3)
SET IDENTITY_INSERT [Base].[User_Role] OFF
/****** Object:  Table [Base].[User_Message]    Script Date: 06/26/2017 11:19:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Base].[User_Message](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MessageID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[IsRead] [bit] NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [Base].[User_Message] ON
INSERT [Base].[User_Message] ([ID], [MessageID], [UserID], [IsRead]) VALUES (36, 11, 1, 1)
INSERT [Base].[User_Message] ([ID], [MessageID], [UserID], [IsRead]) VALUES (37, 12, 1, 1)
INSERT [Base].[User_Message] ([ID], [MessageID], [UserID], [IsRead]) VALUES (43, 16, 1, 1)
SET IDENTITY_INSERT [Base].[User_Message] OFF
/****** Object:  Table [Test].[test]    Script Date: 06/26/2017 11:19:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [Test].[test](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[age] [int] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [Test].[test] ON
INSERT [Test].[test] ([ID], [Name], [age]) VALUES (4, N'whywhy898', 31)
SET IDENTITY_INSERT [Test].[test] OFF
/****** Object:  Table [Base].[SystemInfo]    Script Date: 06/26/2017 11:19:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Base].[SystemInfo](
	[System_ID] [int] IDENTITY(1,1) NOT NULL,
	[System_Title] [nvarchar](100) NULL,
	[System_Version] [nvarchar](50) NULL,
	[System_Copyright] [nvarchar](100) NULL,
	[IsValidCode] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Base].[Role_Menu]    Script Date: 06/26/2017 11:19:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Base].[Role_Menu](
	[RoleMenu_ID] [int] IDENTITY(1,1) NOT NULL,
	[Role_ID] [int] NOT NULL,
	[Menu_ID] [int] NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [Base].[Role_Menu] ON
INSERT [Base].[Role_Menu] ([RoleMenu_ID], [Role_ID], [Menu_ID]) VALUES (24, 1, 34)
INSERT [Base].[Role_Menu] ([RoleMenu_ID], [Role_ID], [Menu_ID]) VALUES (14, 3, 4)
INSERT [Base].[Role_Menu] ([RoleMenu_ID], [Role_ID], [Menu_ID]) VALUES (15, 3, 5)
SET IDENTITY_INSERT [Base].[Role_Menu] OFF
/****** Object:  Table [Base].[Role_Button]    Script Date: 06/26/2017 11:19:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Base].[Role_Button](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Role_ID] [int] NULL,
	[Menu_ID] [int] NULL,
	[Button_ID] [int] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [Base].[Role_Button] ON
INSERT [Base].[Role_Button] ([ID], [Role_ID], [Menu_ID], [Button_ID]) VALUES (152, 3, 4, 1)
INSERT [Base].[Role_Button] ([ID], [Role_ID], [Menu_ID], [Button_ID]) VALUES (153, 3, 4, 2)
INSERT [Base].[Role_Button] ([ID], [Role_ID], [Menu_ID], [Button_ID]) VALUES (154, 3, 4, 11)
SET IDENTITY_INSERT [Base].[Role_Button] OFF
/****** Object:  Table [Base].[Role]    Script Date: 06/26/2017 11:19:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Base].[Role](
	[Role_ID] [int] IDENTITY(1,1) NOT NULL,
	[Role_Name] [nvarchar](100) NOT NULL,
	[Role_Description] [nvarchar](500) NULL,
	[Create_Time] [datetime] NOT NULL,
	[Update_Time] [datetime] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [Base].[Role] ON
INSERT [Base].[Role] ([Role_ID], [Role_Name], [Role_Description], [Create_Time], [Update_Time]) VALUES (1, N'管理员', N'超级管理员', CAST(0x0000A5BE00000000 AS DateTime), NULL)
INSERT [Base].[Role] ([Role_ID], [Role_Name], [Role_Description], [Create_Time], [Update_Time]) VALUES (2, N'操作员', N'处理申请单的', CAST(0x0000A5BE00000000 AS DateTime), NULL)
INSERT [Base].[Role] ([Role_ID], [Role_Name], [Role_Description], [Create_Time], [Update_Time]) VALUES (3, N'部门经理', N'管理者', CAST(0x0000A5BF00000000 AS DateTime), NULL)
SET IDENTITY_INSERT [Base].[Role] OFF
/****** Object:  Table [Test].[New]    Script Date: 06/26/2017 11:19:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [Test].[New](
	[NewId] [int] IDENTITY(1,1) NOT NULL,
	[NewTitle] [varchar](50) NULL,
	[NewContent] [varchar](200) NULL,
	[NewAuthor] [varchar](50) NULL,
	[CreateTime] [datetime] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [Base].[Message]    Script Date: 06/26/2017 11:19:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [Base].[Message](
	[MessageID] [int] IDENTITY(1,1) NOT NULL,
	[MessageTitle] [varchar](200) NOT NULL,
	[MessageText] [varchar](max) NOT NULL,
	[SendUser] [int] NOT NULL,
	[RecUser] [varchar](max) NOT NULL,
	[SendTime] [datetime] NOT NULL,
	[ExpirationTime] [date] NULL,
	[IsSendEmail] [bit] NOT NULL,
	[SendEmailState] [int] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [Base].[Message] ON
INSERT [Base].[Message] ([MessageID], [MessageTitle], [MessageText], [SendUser], [RecUser], [SendTime], [ExpirationTime], [IsSendEmail], [SendEmailState]) VALUES (1, N'发送消息', N'<p>我是只一个消息内容而已！<br></p>', 1, N'1,2,3', CAST(0x0000A79401203F5F AS DateTime), CAST(0xEF3C0B00 AS Date), 1, 0)
INSERT [Base].[Message] ([MessageID], [MessageTitle], [MessageText], [SendUser], [RecUser], [SendTime], [ExpirationTime], [IsSendEmail], [SendEmailState]) VALUES (2, N'第二条', N'<p>消息内容<br></p>', 1, N'41,1,2', CAST(0x0000A7940120C3B7 AS DateTime), CAST(0xEF3C0B00 AS Date), 1, 0)
INSERT [Base].[Message] ([MessageID], [MessageTitle], [MessageText], [SendUser], [RecUser], [SendTime], [ExpirationTime], [IsSendEmail], [SendEmailState]) VALUES (3, N'第三条消息', N'<p>消息内容<br></p>', 1, N'42', CAST(0x0000A79401212B44 AS DateTime), CAST(0xEF3C0B00 AS Date), 1, 0)
SET IDENTITY_INSERT [Base].[Message] OFF
/****** Object:  Table [Base].[Menu_Button]    Script Date: 06/26/2017 11:19:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Base].[Menu_Button](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Menu_ID] [int] NULL,
	[Button_ID] [int] NULL,
	[OrderBy] [int] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [Base].[Menu_Button] ON
INSERT [Base].[Menu_Button] ([ID], [Menu_ID], [Button_ID], [OrderBy]) VALUES (22, 35, 3, 1)
INSERT [Base].[Menu_Button] ([ID], [Menu_ID], [Button_ID], [OrderBy]) VALUES (23, 35, 1, 2)
INSERT [Base].[Menu_Button] ([ID], [Menu_ID], [Button_ID], [OrderBy]) VALUES (24, 35, 4, 3)
SET IDENTITY_INSERT [Base].[Menu_Button] OFF
/****** Object:  Table [Base].[Menu]    Script Date: 06/26/2017 11:19:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Base].[Menu](
	[Menu_ID] [int] IDENTITY(1,1) NOT NULL,
	[Menu_Name] [nvarchar](50) NOT NULL,
	[Menu_Url] [nvarchar](200) NULL,
	[Menu_ParentID] [int] NULL,
	[Menu_Order] [int] NOT NULL,
	[Menu_Icon] [nvarchar](100) NULL,
	[IsVisible] [int] NULL,
	[Create_Time] [datetime] NULL,
	[Update_Time] [datetime] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [Base].[Menu] ON
INSERT [Base].[Menu] ([Menu_ID], [Menu_Name], [Menu_Url], [Menu_ParentID], [Menu_Order], [Menu_Icon], [IsVisible], [Create_Time], [Update_Time]) VALUES (1, N'系统设置', N'youare', NULL, 1, N'glyphicon glyphicon-text59', 1, CAST(0x0000A5D000EFCA3F AS DateTime), NULL)
INSERT [Base].[Menu] ([Menu_ID], [Menu_Name], [Menu_Url], [Menu_ParentID], [Menu_Order], [Menu_Icon], [IsVisible], [Create_Time], [Update_Time]) VALUES (4, N'用户管理', N'/User/Index', 1, 1, N'glyphicon glyphicon-text20', 0, CAST(0x0000A79E00AF87E9 AS DateTime), NULL)
INSERT [Base].[Menu] ([Menu_ID], [Menu_Name], [Menu_Url], [Menu_ParentID], [Menu_Order], [Menu_Icon], [IsVisible], [Create_Time], [Update_Time]) VALUES (5, N'角色管理', N'/Role/Index', 1, 2, N'glyphicon glyphicon-text57', 1, CAST(0x0000A5D000EFCA3F AS DateTime), NULL)
SET IDENTITY_INSERT [Base].[Menu] OFF
/****** Object:  Table [Base].[LoginLog]    Script Date: 06/26/2017 11:19:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Base].[LoginLog](
	[Login_ID] [int] IDENTITY(1,1) NOT NULL,
	[Login_Name] [nvarchar](100) NOT NULL,
	[Login_Nicker] [nvarchar](100) NOT NULL,
	[Login_IP] [nvarchar](100) NOT NULL,
	[Login_Time] [datetime] NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [Base].[LoginLog] ON
INSERT [Base].[LoginLog] ([Login_ID], [Login_Name], [Login_Nicker], [Login_IP], [Login_Time]) VALUES (122, N'admin', N'王洪洋', N'192.168.40.23', CAST(0x0000A5E700BDA23E AS DateTime))
INSERT [Base].[LoginLog] ([Login_ID], [Login_Name], [Login_Nicker], [Login_IP], [Login_Time]) VALUES (123, N'admin', N'王洪洋', N'192.168.40.23', CAST(0x0000A5E7011DFC71 AS DateTime))
INSERT [Base].[LoginLog] ([Login_ID], [Login_Name], [Login_Nicker], [Login_IP], [Login_Time]) VALUES (3, N'whywhy898', N'王洪洋', N'::1', CAST(0x0000A5BD010E279C AS DateTime))
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
SET IDENTITY_INSERT [Base].[LoginLog] OFF
/****** Object:  Table [Base].[DictionaryCategory]    Script Date: 06/26/2017 11:19:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [Base].[DictionaryCategory](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Category] [varchar](100) NOT NULL,
	[Enabled] [bit] NOT NULL,
	[Create_Time] [datetime] NOT NULL,
	[Update_Time] [datetime] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [Base].[DictionaryCategory] ON
INSERT [Base].[DictionaryCategory] ([ID], [Category], [Enabled], [Create_Time], [Update_Time]) VALUES (1, N'部门', 1, CAST(0x0000A5EF00000000 AS DateTime), CAST(0x0000A76800E9CAAD AS DateTime))
SET IDENTITY_INSERT [Base].[DictionaryCategory] OFF
/****** Object:  Table [Base].[Dictionary]    Script Date: 06/26/2017 11:19:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [Base].[Dictionary](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DicCategoryID] [int] NOT NULL,
	[DicValue] [varchar](200) NOT NULL,
	[Enabled] [bit] NOT NULL,
	[Create_Time] [datetime] NOT NULL,
	[Update_Time] [datetime] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [Base].[Dictionary] ON
INSERT [Base].[Dictionary] ([ID], [DicCategoryID], [DicValue], [Enabled], [Create_Time], [Update_Time]) VALUES (1, 1, N'市场部', 1, CAST(0x0000A5EF00000000 AS DateTime), CAST(0x0000A76900B0C434 AS DateTime))
INSERT [Base].[Dictionary] ([ID], [DicCategoryID], [DicValue], [Enabled], [Create_Time], [Update_Time]) VALUES (2, 1, N'技术部', 1, CAST(0x0000A5EF00000000 AS DateTime), CAST(0x0000A7930106D765 AS DateTime))
INSERT [Base].[Dictionary] ([ID], [DicCategoryID], [DicValue], [Enabled], [Create_Time], [Update_Time]) VALUES (3, 1, N'客服部', 1, CAST(0x0000A5F000000000 AS DateTime), NULL)
SET IDENTITY_INSERT [Base].[Dictionary] OFF
/****** Object:  Table [Base].[Button]    Script Date: 06/26/2017 11:19:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Base].[Button](
	[Button_ID] [int] IDENTITY(1,1) NOT NULL,
	[Button_OpID] [nvarchar](100) NULL,
	[Button_Name] [nvarchar](100) NOT NULL,
	[Button_Operation] [nvarchar](100) NULL,
	[Button_Magic] [nvarchar](100) NULL,
	[Button_Describe] [nvarchar](100) NULL,
	[Create_Time] [datetime] NULL,
	[Update_Time] [datetime] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [Base].[Button] ON
INSERT [Base].[Button] ([Button_ID], [Button_OpID], [Button_Name], [Button_Operation], [Button_Magic], [Button_Describe], [Create_Time], [Update_Time]) VALUES (1, N'Create', N'新增', N'CreateModal', N'glyphicon glyphicon-plus', N'用于创建信息', CAST(0x0000A5D400FE5B56 AS DateTime), CAST(0x0000A5E900A0E6E8 AS DateTime))
INSERT [Base].[Button] ([Button_ID], [Button_OpID], [Button_Name], [Button_Operation], [Button_Magic], [Button_Describe], [Create_Time], [Update_Time]) VALUES (2, N'Edit', N'编辑', NULL, N'glyphicon glyphicon-pencil', N'用于编辑信息', CAST(0x0000A5D400FE5B56 AS DateTime), NULL)
INSERT [Base].[Button] ([Button_ID], [Button_OpID], [Button_Name], [Button_Operation], [Button_Magic], [Button_Describe], [Create_Time], [Update_Time]) VALUES (3, N'Delete', N'删除', NULL, N'glyphicon glyphicon-remove', N'用于删除信息', CAST(0x0000A5D400FE5B56 AS DateTime), NULL)
SET IDENTITY_INSERT [Base].[Button] OFF
/****** Object:  Default [DF_User_IsEnable]    Script Date: 06/26/2017 11:19:34 ******/
ALTER TABLE [Base].[UserInfomation] ADD  CONSTRAINT [DF_User_IsEnable]  DEFAULT ((1)) FOR [IsEnable]
GO
/****** Object:  Default [DF_Menu_IsVisible]    Script Date: 06/26/2017 11:19:34 ******/
ALTER TABLE [Base].[Menu] ADD  CONSTRAINT [DF_Menu_IsVisible]  DEFAULT ((1)) FOR [IsVisible]
GO
/****** Object:  Default [DF_DictionaryCategory_Enabled]    Script Date: 06/26/2017 11:19:34 ******/
ALTER TABLE [Base].[DictionaryCategory] ADD  CONSTRAINT [DF_DictionaryCategory_Enabled]  DEFAULT ((1)) FOR [Enabled]
GO
/****** Object:  Default [DF_DictionaryCategory_Create_Time]    Script Date: 06/26/2017 11:19:34 ******/
ALTER TABLE [Base].[DictionaryCategory] ADD  CONSTRAINT [DF_DictionaryCategory_Create_Time]  DEFAULT (getdate()) FOR [Create_Time]
GO
/****** Object:  Default [DF_Dictionary_Enabled]    Script Date: 06/26/2017 11:19:34 ******/
ALTER TABLE [Base].[Dictionary] ADD  CONSTRAINT [DF_Dictionary_Enabled]  DEFAULT ((1)) FOR [Enabled]
GO
/****** Object:  Default [DF_Dictionary_Create_Time]    Script Date: 06/26/2017 11:19:34 ******/
ALTER TABLE [Base].[Dictionary] ADD  CONSTRAINT [DF_Dictionary_Create_Time]  DEFAULT (getdate()) FOR [Create_Time]
GO
