#overlay_navigation{display:none;z-index:1900;width:100%;height:100%;background:#fff;filter:alpha(opacity=1);-moz-opacity:0.01;opacity:0.01;position:absolute;top:0px;left:0px;}
#navigationtitle{border-right: 1px solid #ccc;float: left;margin-right: 0px;float: left;width: 204px;}
.navigation{width: 204px;height: 100%;border-right: 1px solid #ccc;margin-right: 0px;float: left;background-color: #F2F2F2;z-index:1901;}
.ContentPannel{margin: 0px auto;height: 100%;overflow: hidden;}
.btn-nav-toggle{width: 35px;height: 35px;cursor: pointer;border-left: 1px solid #ccc;text-align: center;}
.btn-nav-toggle i{margin-top: 10px;margin-left: 9px;width: 16px;height: 16px;display: block;background: url(../Images/layout_arrows.png) repeat-x;}
.btn-nav-toggle b{display:none;margin-top: 10px;margin-left: 9px;width: 16px;height: 16px;display: block;background: url(../Images/layout_arrows.png) repeat-x;background-position-y: 97%;}
.accordion{width: 100%;max-width: 360px;margin: 0px auto 0px;background: #F2F2F2;}
.accordion .link{cursor: pointer;display: block;padding: 0px 0px 0px 42px;height: 35px;line-height: 35px;color: #4D4D4D;font-size: 14px;font-weight: 400;border-bottom: 1px solid #CCC;position: relative;}
.accordion li img{position: absolute;top: 10px;left: 15px;font-size: 18px;color: #595959;cursor: pointer;}
.accordion li i.chevron-down{position: absolute;right: 10px;top: 9px;width: 16px;height: 16px;display: block;background: url(../Images/layout_arrows.png) repeat-x;background-position-x: 500%;}
.accordion li.open i.chevron-down{background: url(../Images/layout_arrows.png) repeat-x;background-position-x: 500%;background-position-y: 97%;}
/**
* Submenu
-----------------------------*/
.b-children{border-bottom: 1px solid #ccc;}
.submenu{display: none;background: #FFF;font-size: 14px;overflow:auto;}
.submenu li{border-bottom: 1px solid #ccc;display: block;position: relative;cursor: pointer;}
.submenu li img{position: absolute;top: 10px;left: 15px;font-size: 18px;color: #595959;cursor: pointer;}
.submenu li.open{border-bottom:none;}
.submenu li.open .link{border-bottom: 1px solid #ccc;}
.submenu .link{cursor: pointer;display: block;border-bottom:none;}
.submenu .link i.submenu-chevron-down{position: absolute;right: 10px;top: 9px;width: 16px;height: 16px;display: block;background: url(../Images/layout_arrows.png) repeat-x;background-position-x: 500%;}
.submenu .link:hover i.submenu-chevron-down{background: url(../Images/layout_arrows_white.png) repeat-x;background-position-x: 500%;}
.submenu .action i.submenu-chevron-down{background: url(../Images/layout_arrows_white.png) repeat-x;background-position-x: 500%;background-position-y: 97%;}
.submenu a{cursor: pointer;display: block;text-decoration: none;-moz-user-select: none;outline:none;blr:expression(this.onFocus=this.blur());height: 35px;line-height: 35px;padding-left: 42px;}
.submenu a:hover{background: #4A5B79;color: #FFF;}
.submenu .action{background: #4A5B79;color: #FFF;}
.Task{width: 165px;height: 110px;margin: 20px;display: block;position: relative;cursor: pointer;-moz-border-radius: 8px;-webkit-border-radius: 8px;border-radius: 8px;box-shadow: 0 0 10px #ccc;}
.Task i{position: absolute;top: 5px;left: 5px;display: block;width: 12px;height: 12px;background: url(../Images/dispose.png) repeat-x;}
.Task .centre{position: absolute;top: 20px;left: 20px;margin-bottom: 5px;}
.Task .Number{position: absolute;top: -3px;left: 56px;margin-bottom: 5px;color: #fff;font-size: 45px;font-family: Microsoft Yahei;width: 85px;text-align: center;}
.Task .text{position: absolute;top: 87px;left: 18px;color: #fff; font-size: 13px; font-family: Microsoft Yahei;}