

<link href="~/Content/lstyle.css" rel="stylesheet" />
<script type="text/javascript">

    $(function () {

        var myChart = echarts.init(document.getElementById('main'), "macarons");
        myChart.setOption({
            title: {
                text: '用户访问来源',
                subtext: '纯属虚构',
                x: 'center'
            },
            tooltip: {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            legend: {
                orient: 'vertical',
                left: 'left',
                data: ['直接访问', '邮件营销', '联盟广告', '视频广告', '搜索引擎']
            },
            series: [
                {
                    name: '访问来源',
                    type: 'pie',
                    radius: '55%',
                    center: ['50%', '60%'],
                    data: [
                        { value: 335, name: '直接访问' },
                        { value: 310, name: '邮件营销' },
                        { value: 234, name: '联盟广告' },
                        { value: 135, name: '视频广告' },
                        { value: 1548, name: '搜索引擎' }
                    ],
                    itemStyle: {
                        emphasis: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    }
                }
            ]
        });
    })


</script>

<div class="newTaskBox clearfix">
    <div class="ntItem">
        <div class="innerItem">
            <a href="" class="innerItemLink il1">
                <span class="ilTitle">审核待处理任务</span>
                <strong class="ilVal">10</strong>
                <i></i>
            </a>
        </div>
    </div>
    <div class="ntItem">
        <div class="innerItem">
            <a href="" class="innerItemLink il2">
                <span class="ilTitle">消息待处理任务</span>
                <strong class="ilVal">11</strong>
                <i></i>
            </a>
        </div>
    </div>
    <div class="ntItem">
        <div class="innerItem">
            <a href="" class="innerItemLink il3">
                <span class="ilTitle">消息待处理任务</span>
                <strong class="ilVal">11</strong>
                <i></i>
            </a>
        </div>
    </div>
    <div class="ntItem">
        <div class="innerItem">
            <a href="" class="innerItemLink il4">
                <span class="ilTitle">消息待处理任务</span>
                <strong class="ilVal">11</strong>
                <i></i>
            </a>
        </div>
    </div>
    <div class="ntItem">
        <div class="innerItem">
            <a href="" class="innerItemLink il5">
                <span class="ilTitle">消息待处理任务</span>
                <strong class="ilVal">11</strong>
                <i></i>
            </a>
        </div>
    </div>
</div>

<div style="margin-top:70px;width:100%">
    <div id="main" style="width: 48%;height:400px;margin-left:15px;float:left"></div>
    <div id="info" style="width: 48%;height:400px;float:right">
        <div class="panel panel-danger" style="height:98%;width:520px">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
                通知公告
            </div>

            <!-- List group -->
            <ul class="list-group">
                <li class="list-group-item">
                    开发者福音：微软Windows 10眼镜HoloLens提前发货
                </li>
                <li class="list-group-item">
                    阿里回应入股神州专车：无深度投资出行领域计划
                </li>
                <li class="list-group-item">
                    苹果官网今日开始接受iPhone SE预约 3288起售
                </li>
                <li class="list-group-item">
                    三大运营商2015年净利润下滑 仍日赚3.8亿元
                </li>
                <li class="list-group-item">
                    消息人士称Google正努力打造直播应用YouTube Connect
                </li>
            </ul>
        </div>
    </div>
</div>

