.boxbg{background-color:#B99A56 !important;  color: #fff;}
.bordg{border: 5px solid #B99A56 !important;}

.tree li.parent_li>span+ul li span{ background: #b19351; border-bottom: 1px solid #b2924d; }
.tree li.parent_li>span{border-bottom: 1px solid #b2924d;}



tbody tr.odd.selected {
    background-color: #b2924d !important;
}

tbody tr.even.selected {
    background-color: #b2924d !important;
}

.aaa{border-bottom: 1px solid #b2924d;}

.dropdown-menu::after {
	border-bottom: 6px solid #b2924d;
}

.layerStyle .layui-layer-title {
    background-color: #b2924d;
    color:white;
    font-size:16px;
}

/*用户页面分配角色列表*/
#roleitme a:hover {
   background-color:#b2924d;
   color:white;
}