
.boxbg{background-color:#28b779 !important;  color: #fff;}
.bordg{border: 5px solid #28b779 !important;}

.tree li.parent_li>span+ul li span{ background: #19ae6e; border-bottom: 1px solid #1fb674; }
.tree li.parent_li>span{border-bottom: 1px solid #1fb674;}

tbody tr.odd.selected {
    background-color: #1fb674 !important;
}

tbody tr.even.selected {
    background-color: #1fb674 !important;
}

.aaa{border-bottom: 1px solid #1fb674;}

.dropdown-menu::after {
	border-bottom: 6px solid #1fb674;
}

.layerStyle .layui-layer-title {
    background-color: #1fb674;
    color:white;
    font-size:16px;
}

/*用户页面分配角色列表*/
#roleitme a:hover {
   background-color:#1fb674;
   color:white;
}