.boxbg{background-color:#4A5B79 !important; color: #fff; }
.bordg{border: 5px solid #4A5B79 !important;}
.tree li.parent_li>span+ul li span{ background: #3b4f71; border-bottom: 1px solid #4A5B79; }
.tree li.parent_li>span{border-bottom: 1px solid #405476;}
tbody tr.odd.selected {
    background-color: #3b4f71 !important;
}

tbody tr.even.selected {
    background-color: #3b4f71 !important;
}

.aaa{border-bottom: 1px solid #3b4f71;}

/*下拉选项*/
.dropdown-menu::after {
	border-bottom: 6px solid #3b4f71;
}

/*弹出层标题*/
.layerStyle .layui-layer-title {
    background-color: #3b4f71;
    color:white;
    font-size:16px;
}

/*用户页面分配角色列表*/
#roleitme a:hover {
   background-color:#3b4f71;
   color:white;
}