.boxbg{background-color:#100a86 !important;  color: #fff;}
.bordg{border: 5px solid #100a86 !important;}

.tree li.parent_li>span+ul li span{ background: #0c0865; border-bottom: 1px solid #0f0a74; }
.tree li.parent_li>span{border-bottom: 1px solid #0f0a74;}



tbody tr.odd.selected {
    background-color: #0f0a74 !important;
}

tbody tr.even.selected {
    background-color: #0f0a74 !important;
}

.aaa{border-bottom: 1px solid #0f0a74;}

.dropdown-menu::after {
	border-bottom: 6px solid #0f0a74;
}

.layerStyle .layui-layer-title {
    background-color: #0f0a74;
    color:white;
    font-size:16px;
}

/*用户页面分配角色列表*/
#roleitme a:hover {
   background-color:#0f0a74;
   color:white;
}