
.boxbg{background-color:#B1181B !important;  color: #fff;}
.bordg{border: 5px solid #B1181B !important;}


.tree li.parent_li>span+ul li span{ background: #a11013; border-bottom: 1px solid #9b090c; }
.tree li.parent_li>span{border-bottom: 1px solid #9b090c;}

tbody tr.odd.selected {
    background-color: #9b090c !important;
}

tbody tr.even.selected {
    background-color: #9b090c !important;
}

.aaa{border-bottom: 1px solid #9b090c;}

.dropdown-menu::after {
	border-bottom: 6px solid #9b090c;
}

.layerStyle .layui-layer-title {
    background-color: #9b090c;
    color:white;
    font-size:16px;
}

/*用户页面分配角色列表*/
#roleitme a:hover {
   background-color:#9b090c;
   color:white;
}