.boxbg{background-color:#34495e !important;  color: #fff;}
.bordg{border: 5px solid #34495e !important;}

.tree li.parent_li>span+ul li span{ background: #2d4053; border-bottom: 1px solid #2d4156; }
.tree li.parent_li>span{border-bottom: 1px solid #2d4156;}

tbody tr.odd.selected {
    background-color: #2d4156 !important;
}

tbody tr.even.selected {
    background-color: #2d4156 !important;
}

.aaa{border-bottom: 1px solid #2d4156;}

.dropdown-menu::after {
	border-bottom: 6px solid #2d4156;
}

.layerStyle .layui-layer-title {
    background-color: #2d4156;
    color:white;
    font-size:16px;
}

/*用户页面分配角色列表*/
#roleitme a:hover {
   background-color:#2d4156;
   color:white;
}