@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <title>404</title>
    <script src="~/Scripts/js/jquery.js"></script>
    <style>
        html,
        body {
            height: 100%;
            width: 100%;
            overflow: auto;
            background-color: white;
            padding: 0;
            margin: 0;
        }

        .center {
            width: 640px;
            padding: 0px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 10px;
        }

        .center_link {
            text-align: center;
            width: 100%;
        }

        .center a {
            display: inline-block;
            text-decoration: none;
            padding: 0 10px;
        }

        .hidden {
            display: none;
        }
    </style>
    <script type="text/javascript">
        $(function () {
            if (parent.window.length > 0)
                $(".center_link").hide()
        })
    </script>
</head>
<body>
    <div class="center">
        <img id="img_error" src="../../Images/404.png" height="218" width="640">
        <div class="center_link" id="oprean">
            <a href="/SystemSchema/home">返回首页</a>
        </div>
    </div>
</body>
</html>

